<div class="page-title">
    <PageTitle @title="Login" />
</div>

<div class="login-box">
    <input type="text" id="email" placeholder="Email" value={{this.email}} {{on "input" this.updateEmail}} required>
    <input type="password" id="password" placeholder="Password" value={{this.password}} {{on "input" this.updatePassword}} required>
    <input type="submit" value="Login" id="login-button" {{action "loginClick"}}>
    <p class="message">Don't have an account? <LinkTo @route="register" class="sub-text-link">Register</LinkTo></p>
</div>